html{
    min-height: 100vh;
    background: linear-gradient(180deg, #5bc0be, var(--ar-light));
    padding-bottom: 5%;
    position: relative;
}

body{
    min-height: 100vh;
    width: 100%;
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    background-color: transparent;
}

#search-div{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-radius: 100vh;
    background-color: var(--ar-light);
    padding: 0% 1%;
    margin-top: 2%;
    position: relative;
}


#search-div input{
    width: 90%;
    font-size: 3rem;   
    padding: 0% 1%;
    text-align: center;
    border-style: none;
    border-radius: 100vh;
    outline-width: 0;
    background-color: transparent;
    color: var(--ar-dark);
}

#search-div span{
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 1%;
    background-color: var(--ar-light);
    border-style: none;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
}

span#enter-hint{
    margin-top: 1%;
    display: none;
    padding: 0% 1%;
    justify-content: center;
    align-items: center;
}

#search-div span#ans-search-btn{
    fill: var(--ar-dark);
}

#info-span{
    font-size: 3rem;
    font-weight: bold;   
    margin-top: 1%;
    color: var(--ar-dark);
    text-align: center;
}

#ans-info-div{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    background-color: var(--ar-light-dim);
    margin-top: 2%;
    padding: 1% 1%;
    border-style: none;
    border-radius: 1vh;
}

@media only screen and (max-width: 800px) {
    #ans-info-div{max-width: 90%;}
}

#ans-info-div span{
    font-size: 1.5rem;
    color: var(--ar-dark);
}

span#ans{
    font-size: 1.5rem !important; 
    font-weight: bold !important;
}


#ans-info-div input, #ans-about{
    width: 100%;
    font-size: 1.5rem;
    background-color: var(--ar-light);
    color: var(--ar-dark);
    margin: 1% 0;
    border-style: none;
    border-radius: 1vh;
    text-align: center;
}
#ans-info-div input::placeholder{
    color: var(--ar-dark);
}
#ans-info-div input::-webkit-file-upload-button{
    background: var(--ar-light);
    color: var(--ar-dark);
    border-style: none;
    border-radius: 1vh;
    cursor: pointer;
}

.btn-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

button{
    font-size: 1rem !important;
    font-weight: bold !important;
    margin: 0 2%;
    width: 48%;
    /* border-style: none;
    border-radius: 1vh; */
}

#buy-ans-btn{
    color: var(--ar-green-dim);
}

#sell-ans-btn{
    color: var(--ar-red-dim);
}

#ans-info-div label{
    margin-top: 2%;
    margin-bottom: .5%;
}

.bold{
    font-weight: bold;
}

#hosq-provider{
    position: absolute;
    bottom: 1%;
}

#chain-symbol{
    position: absolute;
    left: 1%;
    top: 15%;
}