<!DOCTYPE html>
<html lang="en">
<head>
    {{#unless release}}
        {{live_update}}
    {{/unless}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anspar Namespace</title>
    {{web_component "https://github.com/anspar/arag_common_libs/releases/download/v0.1/build.html"}}
    {{import_css "static/css/index.css"}}
    {{import_js "static/js/index.js"}}
</head>
<body>
    {{web_component "https://github.com/anspar/wallet/releases/download/v0.19/build.html"}}

    <span class="ar-theme-switch"></span>
    
    <span id="info-span">Your Digital Identity On Blockchain</span>
    <div id="search-div" class="ar-shadow">
        <input type="text" placeholder="Search For Anspar Namespace">
        <span id="ans-search-btn" onclick="search_ans()">
            {{import_content "static/magnifying-glass-solid.svg"}}
        </span>
    </div>
    <span id="enter-hint">
        Press Enter
    </span>
    <div id="ans-info-div" class="ar-shadow">
        <span id="ans"></span>
        <span>
            Status 
            <span id="ans-status" class="bold"></span>
        </span>
        <span>Is For Sale <span id="ans-for-sale" class="bold"></span></span>
        <input type="text" placeholder="Name" id="ans-name">
        <textarea type="text" placeholder="About" id="ans-about"></textarea>
        <label class="bold">Select a profile image</label>
        <input type="file" placeholder="Logo" id="ans-logo">
        <input type="text" placeholder="Color" id="ans-color">
        <input type="text" placeholder="Github" id="ans-github">
        <input type="text" placeholder="Twitter" id="ans-twitter">
        <input type="text" placeholder="Website" id="ans-website">
        

        <label id="fee-label" class="bold"></label>
        <div class="btn-div">
            <button type="button" id="buy-ans-btn" class="btn ar-btn-primary">Buy</button>
            <button type="button" id="update-ans-btn" class="btn ar-btn-secondary" disabled>Update</button>
        </div>
        <br>
        <div style="position: relative; width: 100%;">
            <input type="number" placeholder="Price For Sale" id="ans-for-sale-price" min="0">
            <span id="chain-symbol"></span>
        </div>
        <div class="btn-div">
            <button type="button" id="sell-ans-btn" class="btn ar-btn-primary" disabled>Set For Sale</button>
            <button type="button" id="cancel-sale-ans-btn" class="btn ar-btn-secondary" disabled>Cancel Sale</button>
        </div>
    </div>
    <div id="hosq-provider">
        {{web_component "https://github.com/anspar/hosq_provider/releases/download/v0.7/build.html"}}
    </div>
</body>
</html>
            